body{
    color:#40514E ;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    margin: 45px auto 0 auto;
    font-family: 'Sacramento', cursive;
    line-height: 2;
    font-size: 100px;
    color: #66BFBF;
}

.top{
    background-color:#D6E5FA;
    position: relative;
    padding-top: 100px;
}
.middle {
    background-color: red;
    width: 200px;
    height: 200px;
}
.bottom{
    background-color: royalblue;
    width: 200px;
    height: 200px;

}
.pro{
    text-decoration: underline;
    font-size:2.5 rem ;
}
.h22{
    color: #66BFBF;
    font-weight: normal;
}
.h23{
    color: #11999E;
    font-size: 30px;
}
h3{
    color: #11999E;
}
hr{
    border-style: dotted none none;
    border-color: #EAF6F6;
    border-width: 8px;
    width: 10%;
}
.topcloud{
    position: absolute;
    right: 300px;
    top: 50px;
}
.bottomcloud{
    position:absolute ;
    left: 300px;
    bottom: 300px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;

}
.swimkill{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
}
.coding{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: right;
    margin-left: 30px;
}
.myself{
    width: 100px;
    height: 100px;
    border-radius: 50%;

}
.cont{
    text-decoration: underline;
}

.contact-me{
    line-height: 2;
    padding-bottom: 100px;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Merriweather', serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
.footer-link{
    text-decoration: none;
    color: #037a7a;
}
.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}
a{
    margin: 20px 40px;
}
a:hover{
    color: #EAF6F6;
}
.fin{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}
.greet{
    padding-bottom:10px ;
    color: #66BFBF;
}
.middle-container{
    margin: 100px 0;
}
.intro{
    width: 30%;
    margin: auto;
    line-height: 2;
}
